@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");

body{
    width:100%;
    height:100%;
}
*{
    font-family: "Source Sans Pro";
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}

.content-section{
    padding-top: 7.5rem;
    padding-bottom:7.5rem;
}
.masthead{
    min-height:30rem;
    background:linear-gradient(90deg,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.2) 100%),url("../img/bg-masthead.jpg");
    width:100%;
    padding-top:8rem;
    padding-bottom:8rem;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.masthead h1{
    font-size:4rem;
    margin:0;
    padding:0;
}
@media(min-width:992px){
    .masthead{
        height:100vh;
    }
    .masthead h1{
        font-size:5.5rem;
    }
}
.masthead div a.btn{
font-weight:700;
background-color:rgb(32, 130, 160);
}
.masthead div a.btn:hover{
    background-color: rgb(15, 73, 90);
}
#sidebar-wrapper{
position:fixed;
right:0;
z-index:2;
width:250px;
height:100%;
-moz-transition: all 0.4s ease 0s;
-webkit-transition: all 0.4s ease 0s;
-ms-transition:all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
background-color: #1D809F;
transform:translateX(250px);
border-left:1px solid rgba(255,255,255,0.5);
}
.sidebar-nav{
    position:absolute;
    top:0;
    width:250px;
    margin:0;
    padding:0;
}
#sidebar-wrapper .sidebar-nav li{
    list-style-type: none;
    width:100%;
}
#sidebar-wrapper .sidebar-nav a{
    text-decoration: none;
    display:block;
    color:white;
    padding:15px;
}
.sidebar-nav li a:hover{
    background: rgba(255,255,255,0.2);
}
.sidebar-nav .sidebar-brand{
    background: rgba(52,58,64,0.1);
    font-size:1.2rem;
    height:80px;
    line-height:20px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;    
}
.sidebar-nav .sidebar-brand a:hover{
    background: none;
}
#sidebar-wrapper.active{
    right:250px;
    width:250px;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.callout{
    padding:15rem 0;
    background: linear-gradient(90deg,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 100%),url('../img/bg-callout.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.callout h2{
    font-size: 3.5rem;
    display: block;
    font-weight: 700;
}
.portfolio-item{
    display: block;
    position: relative;
    overflow:hidden;
    max-width:530px;
    margin:auto auto 1rem;
}
.portfolio-item img{
    width:630px;
    height:360px;
}
.portfolio-item .caption{
    display:flex;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    bottom:0;
    z-index:1;
    background-color: rgba(33,37,41,0.2);
}
.portfolio-item .caption .caption-content{
    color:#fff;
    margin:auto 2rem 2rem;
}
.portfolio-item .caption .caption-content h2{
    text-transform: uppercase;
    font-size: 0.8rem;
}
.portfolio-item .caption .caption-content p{
    font-size:1.2rem;
    font-weight:300;
}
@media(min-width:992px){
    .portfolio-item{
        max-width: none;
        margin:0;
    }
    .portfolio-item .caption{
        -webkit-transition: -webkit-clip-path 0.25s ease-out,background-color 0.7s;
        -webkit-clip-path:inset(0px);
        clip-path:inset(0px);
        transition:clip-path 0.25s ease-out,background-color 0.7s;
    }
    .portfolio-item .caption .caption-content{
        transition:opacity 0.25s;
        margin-left:5rem;
        margin-right:5rem;
        margin-bottom:5rem;
    }
    .portfolio-item img{
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path:inset(-1px);
        clip-path: inset(-1px);
    }
    .portfolio-item:hover img{
        -webkit-clip-path:inset(2rem);
        clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption{
        background-color: rgba(29,128,159,0.1);
        -webkit-clip-path:inset(2rem);
        clip-path: inset(2rem);
    }
}
.menu-toggle{
    position:fixed;
    top:15px;
    right:15px;
    width:50px;
    height:50px;
    color:white;
    z-index:999;
    background: rgba(52,58,64,0.5);
    text-align: center;
    line-height: 50px;
}
.menu-toggle:focus, .menu-toggle:hover{
    color:white;
}
.menu-toggle:hover{
  background: #343a40; 
}
.btn-xl{
    padding:1.25rem 2.5rem;
    font-weight:700;
    background: rgb(32, 130, 160);
}
.btn-xl:hover{
    background-color: rgb(15, 73, 90);
}
.service-icon{
    background: #fff;
    color:rgb(29,128,159);
    height:7rem;
    width:7rem;
    display:block;
    font-size: 2.25rem;
    box-shadow:0 3px 3px 0 rgba(0,0,0,0,0.1);
    line-height: 7.5rem;
}
.bg-primary{
    background-color: rgb(29, 128, 159) !important;
}
.content-section-heading h3{
font-size:1rem;
text-transform: uppercase;
}
.content-section-heading h2{
    font-size:3rem;
}
.text-secondary{
    color:rgb(236,184,7) !important;
}.map{
    height:30rem;
}
.map iframe{
pointer-events: none;
}
footer.footer{
    padding-top:5rem;
    padding-bottom:5rem;
}
footer.footer .social-link{
    display:block;
    height:4rem;
    width:4rem;
    background: #1D808F;
    font-size:1.5rem;
    line-height: 4.3rem;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0,0.1);
}
footer.footer .social-link:hover{
    background-color: #155d74;
    text-decoration: none;
}
.scroll-to-top{
    position:fixed;
    right:15px;
    bottom:15px;
    width:50px;
    height:50px;
    color:white;
    background-color: #555;
    text-align:center;
    font-size:1.5rem;
    line-height: 3rem;
    display:none;
}
.scroll-to-top:focus,.scroll-to-top:hover{
    color:white;
}
.scroll-to-top i{
    font-weight:800;
}