.navbar{
    height:40px;
    margin-top:0;
    border:0 !important;
}
.navbar-top-links{
    margin-top:0;
}
.navbar-top-links li{
    list-style-type:none;
    display:inline-block;    
}
.navbar-top-links li:hover{
    background: #ccc;
    
}
.navbar-top-links > li> a{
    padding:15px;
    line-height: 50px;
    text-decoration: none;
}
.navbar-top-links >li > a:focus,.navbar-top-links >li > a:hover{
    text-decoration: none;
}
.navbar-top-links li:last-child{
    margin-right:15px;
}
.navbar-top-links .dropdown-menu li{
    display:block;
}
.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts{
    width:310px;
    min-width:0;
}
.dropdown-messages{
    margin-right:170px;
}
.dropdown-tasks{
    margin-right:120px;
}
.dropdown-alerts{
    margin-right:80px;
}
.dropdown-user{
    margin-right:20px;
}