.glyphicon{
    margin-right: 5px;
}
.thumbnail{
    margin-bottom: 40px;
    padding:0;
    border-radius: 0;
    border:0;
}
.item.list-group-item{
    float:none;
    width:100%;
    background: white;
    margin-bottom:10px;
}
.item.list-group-item .list-group-image{
    margin-right: 10px;
}
.item.list-group-item img{
    float:left;
}
.item.list-group-item:after{
    clear:both;
}
.item.list-group-item .thumbnail{
    margin-bottom: 0px;
}
.item.list-group-item .caption{
    padding:9px 9px 0px 9px;
}