@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    font-family:"Roboto",sans-serif;
}
a{
    color:white;
    font-weight:500;
    font-size:1.5em;
    text-decoration:none;
}
a:hover,a:focus{
    text-decoration:none;
    color:white;
}
.wrapper
{
    display:flex;
    width:100%;
    align-items:stretch;
}
#sidebar{
    width:250px;
    min-width:250px;
    height:100vh;
    background: rgba(8, 140, 228, 0.6);
    transition: all 0.4s;
}
#sidebar.active{
    margin-left:-250px;
}
.list-unstyled{
    list-style-type: none;
}
.list-unstyled li{
    padding:15px;
}
.list-unstyled li:hover{
background: rgba(8, 140, 228, 0.8)
}
